/* TODO Add site wide styles */

/* body {
  background: url(https://s3.amazonaws.com/noupe/2009/10/ava7.jpg);
  position: absolute;
  z-index: -2;
} */
  .pokemongrid {
    margin-top: 30px;
  }

  .newpokemonbutton {
    margin-left: 918px;
    margin-top: 30px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 25%;
  }

  .all-pokedexes {
    display: flex;
    flex-direction: row;
  }

  .all-pokedexes div {
    margin: 0 100px;
    padding: 10px;
    border: 2px solid black;
    height: 400px;
    width: 200px;
  }

  .right-side {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .left-header {
    margin: auto;
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .button {
    border-radius: 10%;
    height: 40px;
    width: 80px;
  }

  .header button {
    margin-right: 30px;
    border-radius: 10%;
  }



  .stat-bar {
    height: 20px;
    width: 15px;
    background-color: blue;
    margin-left: 5px;
  }


  .stats-container {
    display: flex;
    flex-direction: row;
  }

  .stats-container div {
    display: flex;
    flex-direction: column-reverse;
  }

  .pokedex-list {
    height: 700px;
    width: 450px;
    border: 1px solid black;
    margin: 100px;
    border-radius: 10%;
    box-shadow: 0 10px 10px 10px #bfbfbf;
  }

  .pokedex-color {
    text-align: center;
    line-height: 1.6;
    text-shadow: 5px 5px #bfbfbf;
  }

  .pokedex-listing {
    text-align: center;
    color: black;
  }
