.list {
    height: 700px;
    width: 450px;
    border: 1px solid black;
    margin: 100px;
    border-radius: 10%;
    box-shadow: 0 10px 10px 10px #bfbfbf;
  }

  .color {
    text-align: center;
    line-height: 1.6;
    text-shadow: 5px 5px #bfbfbf;
  }
