.root {
    width: 250px;
    margin: 15px;
    border: 1px solid black;
    box-shadow: 0 10px 10px 10px #bfbfbf;
    border-radius: 10%;
    background-color: white;
  }

  .media {
    height: 250px
  }

  .info {
    text-align: center
  }

  .name {
    text-shadow: 5px 5px #bfbfbf;
    color: black;
    text-decoration: none
  }
